/*
** <Reset>
*/
@import 'reset';

/*
** <Global Utilities>
*/
@import 'utilities/layout';

body {
  background-color: #fff;
  color: #fff;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.5em;
}

#mashed {
  display: flex;
  flex-direction: column;
}

header {
  background-color: pink;
  height: 100px;
  font-size: 2em;
  @include flex-center;
}

main {
  display: flex;
  position: relative;
  margin: 30px;
}

aside {
  color: lightgrey;
  text-transform: capitalize;
  border: 2px solid lightgrey; flex: 1;

  #associated-words {
  display: flex;
  flex-direction: column;
  

    li {
      display: flex;
      justify-content: center;
      font-size: 1.5em;
      line-height: 50px;
      border-bottom: 2px solid lightgrey;
      color: lightseagreen;

      &:hover {
        background-color: lighten(darkslategrey, 10); 
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

.search {
  border: 1px solid lightgrey;
  color: darkgrey;
  min-height: 90px;
  line-height: 90px;
  position: relative;
  font-weight: bold;
  font-size: 2em;
  margin: 30px 30px 0px 30px;

  input {
    width: calc(100% - 249px);
    height: 90px;
    text-indent: 30px;
    text-transform: capitalize;
    &::-webkit-input-placeholder {
      color: lighten(lightgrey, 30%);
    }
  }

  button {
    -webkit-appearance: none;
    background-color: lightgrey;
    color: #fff;
    height: 100%;
    position: absolute;
    width: 250px;
    right: -1px;
    top: 0;

    &:hover {
      background-color: lighten(darkslategrey, 10%);
    }
  }
}

.results {
  padding: 10px;
  flex: 2;

  ul {
    flex-wrap: wrap;
    display: flex;
  }

  .result {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    color: #fff;
    font-size: 1em;
    min-height: 350px;
    width: 100%;
    margin-bottom: 10px;
    background-size: cover;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      cursor: pointer;
      background-color: lighten(darkslategrey, 10%);
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: darkslategrey;
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 40px;
}